body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.column1 {
    float:left;
    padding:10px;
    text-align:left
}

.column2 {
    float:right;
    padding:10px;
    text-align:left
}


#submit_form {
    float:right;
    position: relative;
    border: solid 1px #CCC;
    height: 25px;
    width: 115px;
    color: white;

}


