html { background-color: black; }


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #AFDCEC
}

header {
  background: white;
  color: #000305;
  font-size: 87.5%; /* Base font size: 14px */
  font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.429;
  margin: 20;
  padding: 0;
  text-align: left;
}

input[type=submit]{
  background: #52D017;
  box-shadow: 2px 2px 2px black
}

.formandstuff {
  border: 3px solid blue;
  background: #BCC6CC
}

aside {
  background: #F5F4EF
  
}

.parent2 {
  background: white;
  border: 2px solid red;
  
}

.emaileach {
  border: 2px solid green;
}



#submit_form {
    float:right;
    position: relative;
    border: solid 1px #CCC;
    height: 25px;
    width: 115px;
    color: white;

}



.parent { 
  border: solid 2px #0020C2;
}

